<h1>Show Form</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @form.name %>
  </li>

  <li>
    <strong>Active until:</strong>
    <%= @form.active_until %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.form_path(@conn, :edit, @form) %></span> |
<span><%= link "Back", to: Routes.form_path(@conn, :index) %></span>
